@font-face {
    font-family: ubuntu;
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    font-weight: 700;

    font-family: orbitron;
    src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
    font-weight: 700;
}

body {
    font-family: ubuntu;
    background-color: #2c2c2c;
    color: #333;
}

.content,
.footer {
    max-width: 80%;
    margin: 30px auto 40px;
}

h1 {
    font-family: orbitron;
    color: #00FFFF;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.footer h5 {
    font-size: 14px;
    font-style: italic;
    color: #515b5b;
}

ol {
    margin: 0;
    padding: 0;
}

li {
    transition: ease all 0.3s;
    font-size: 14px;
    color: #FFF;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    opacity: .6;
}

li:hover {
    cursor: pointer;
    opacity: 1;
}

.yellow {
    background-color: rgb(196, 196, 32);
}

.red {
    background-color: rgb(159, 46, 46);
}

.orange {
    background-color: rgb(255, 166, 0);
}

.grey {
    background-color: rgb(125, 125, 125);
}

.active {
    border: solid 4px #00FFFF;
    opacity: 1;
    text-transform: uppercase;
}

.foobar {
    padding-left: 15px;
    margin-left: 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foobar {
    margin-right: 0;
}

.foobar li {
    margin-right: 35px;
    border: solid 1px #00FFFF;
    width: 75px;
    text-align: center;
    opacity: 1;
}

.foobar li:hover {
    cursor: default;
}

.foobar li:nth-child(even) {
    margin-right: 0;
}

@media (min-width: 800px) {
  
    .content, 
    .footer {
        max-width: 800px;
    }

    h1 {
        font-size: 28px;
    }

    li {
        font-size: 18px;
    }

    .footer h5 {
        font-size: 16px;
    }

    .foobar li,
    .foobar li:nth-child(even) {
        margin-right: 45px;
    }
    
  }